@use "../abstracts/" as a;
///RobotoMono
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono/RobotoMono-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono/RobotoMono-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono/RobotoMono-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono/RobotoMono-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono/RobotoMono-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono/RobotoMono-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono/RobotoMono-LightItalic.ttf");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono/RobotoMono-ThinItalic.ttf");
  font-style: italic;
  font-weight: 100;
}

////VT323
@font-face {
  font-family: "VT323";
  src: url("../fonts/VT323/VT323-Regular.ttf");
  //only one font weight
}
