@use "../abstracts/" as a;
.header__logo {
  //TESTING FONT FAMILY
  font-family: "Share Tech Mono";
  .glitch {
    font-size: 2.5rem;
    color: a.$color-white;
    letter-spacing: 0.5rem;
    @include a.respond(mobile) {
      font-size: 2.5rem;
    }
  }
}
.header__navlink {
  font-size: 1.8rem;
  color: a.$color-white;
  &:hover {
    letter-spacing: 0.15rem;
  }
  &.active {
    color: a.$color-purple-light;
  }
}
.menu__navlink {
  font-size: 1.5rem;
  color: a.$color-white;
  &:hover {
    letter-spacing: 0.15rem;
  }
  &.active {
    color: #aca7cb;
  }
}
.contact {
  &__heading-primary {
    font-size: 3rem;
    font-weight: 400;
    color: a.$color-white;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    line-height: 1;
  }
}
.form__error-message {
  color: a.$color-error;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 0.8;
}
.featured__item--title {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: a.$color-white;
  letter-spacing: 0.1rem;
  @include a.respond(mobile) {
    font-size: 1.4rem;
  }
  @include a.respond(laptop) {
    font-size: 1.1rem;
  }
  @include a.respond(desktop) {
    font-size: 1.3rem;
  }
}
//shop items
//hero/current
//list/grid

//item page
.item-page {
  &__heading--primary {
    font-family: a.$font-secondary;
    font-size: 4rem;
    text-transform: uppercase;
    @include a.respond(mobile) {
      font-size: 3.5rem;
      text-align: center;
    }
  }
  &__heading--secondary {
    font-size: 2.5rem;
    font-weight: 300;
    font-style: italic;
    @include a.respond(mobile) {
      font-size: 2.25rem;
    }
  }
  &__heading--tertiary {
    font-size: 1.8rem;
    font-weight: 200;
    @include a.respond(mobile) {
      font-size: 1.8rem;
    }
  }
  &__text {
    font-size: 1.5rem;
    font-weight: 200;
    @include a.respond(mobile) {
      font-size: 1.25rem;
      text-align: center;
    }
  }
  &__price {
    font-size: 2.5rem;
    font-weight: 400;
    color: a.$color-medium-grey;
    @include a.respond(mobile) {
      font-size: 2.5rem;
    }
  }
}
.divider__text {
  font-family: a.$font-secondary;
  text-transform: uppercase;
  color: a.$color-purple-light;
  font-weight: 200;
  font-size: 2rem;
}
