@use "../abstracts/" as a;
.header__logo--text {
  font-family: a.$font-secondary;
  font-size: 5.7rem;
  color: a.$color-white;
  text-align: center;
  line-height: 0.96;
  letter-spacing: 0.75rem;
}
.header__navlink {
  font-size: 2rem;
  color: a.$color-white;
  &:hover {
    letter-spacing: 0.15rem;
  }
  &.active {
    color: a.$color-purple-light;
  }
}
.menu__navlink {
  font-size: 2rem;
  color: a.$color-white;
  &:hover {
    letter-spacing: 0.15rem;
  }
  &.active {
    color: #aca7cb;
  }
}
.contact {
  &__heading-primary {
    font-size: 3rem;
    font-weight: 400;
    color: a.$color-white;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    line-height: 1;
  }
}
.form__error-message {
  color: a.$color-error;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.featured__item--title {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  color: a.$color-white;
  letter-spacing: 0.1rem;
}
