@mixin respond($breakpoint) {
  @if $breakpoint == smallmobile {
    @media (max-width: 374px) {
      @content;
    }
  }
  @if $breakpoint == mobile {
    @media (max-width: 500px) {
      @content;
    }
  }
  @if $breakpoint == default {
    @media (min-width: 501px) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media (min-width: 800px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }
}
