@use "../abstracts/" as a;

.home {
  border: solid;
  border-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.featured {
  border: solid;
  border-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5rem;
}
