@use "../abstracts/" as a;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
}
.featured {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: calc(100% - #{a.$height-header - #{a.$height-footer}});
  padding: 3rem;

  margin-bottom: 5rem;
}
