@use "../abstracts/" as a;

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  padding: 2rem 0;
}
.featured {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  margin-bottom: 5rem;
  padding: 0 5vw;
  overflow: scroll;
}
