*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  box-sizing: border-box;
  font-family: "RobotoMono";
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a,
a:link,
a:visited {
  color: #ffffff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #ffffff;
}

.header__logo--text {
  font-family: "VT323";
  font-size: 5.7rem;
  color: #ffffff;
  text-align: center;
  line-height: 0.96;
  letter-spacing: 0.75rem;
}

.header__navlink {
  font-size: 2rem;
  color: #ffffff;
}
.header__navlink:hover {
  letter-spacing: 0.15rem;
}
.header__navlink.active {
  color: #aca7cb;
}

.menu__navlink {
  font-size: 2rem;
  color: #ffffff;
}
.menu__navlink:hover {
  letter-spacing: 0.15rem;
}
.menu__navlink.active {
  color: #aca7cb;
}

.contact__heading-primary {
  font-size: 3rem;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  line-height: 1;
}

.form__error-message {
  color: rgba(204, 61, 36, 0.959);
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 0.8;
}

.featured__item--title {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.1rem;
}
@media (max-width: 500px) {
  .featured__item--title {
    font-size: 1.4rem;
  }
}
@media (min-width: 800px) {
  .featured__item--title {
    font-size: 1.1rem;
  }
}
@media (min-width: 1200px) {
  .featured__item--title {
    font-size: 1.3rem;
  }
}

.item-page__heading--primary {
  font-family: "VT323";
  font-size: 4rem;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .item-page__heading--primary {
    font-size: 3.5rem;
    text-align: center;
  }
}
.item-page__heading--secondary {
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
}
@media (max-width: 500px) {
  .item-page__heading--secondary {
    font-size: 2.25rem;
  }
}
.item-page__heading--tertiary {
  font-size: 1.8rem;
  font-weight: 200;
}
@media (max-width: 500px) {
  .item-page__heading--tertiary {
    font-size: 1.8rem;
  }
}
.item-page__text {
  font-size: 1.5rem;
  font-weight: 200;
}
@media (max-width: 500px) {
  .item-page__text {
    font-size: 1.25rem;
    text-align: center;
  }
}
.item-page__price {
  font-size: 2.5rem;
  font-weight: 400;
  color: #cccccc;
}
@media (max-width: 500px) {
  .item-page__price {
    font-size: 2.5rem;
  }
}

.fa-times__close {
  color: #ffffff;
  font-size: 1.5rem;
}

@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono/RobotoMono-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono/RobotoMono-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono/RobotoMono-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono/RobotoMono-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono/RobotoMono-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono/RobotoMono-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono/RobotoMono-LightItalic.ttf");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono/RobotoMono-ThinItalic.ttf");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: "VT323";
  src: url("../fonts/VT323/VT323-Regular.ttf");
}
input,
textarea {
  font-family: "RobotoMono";
  font-weight: 400;
  font-size: 1.75rem;
  padding: 1.5rem 1rem;
  letter-spacing: 0.25rem;
  color: #787586;
}

input {
  min-width: 27rem;
  max-width: 27rem;
  min-height: 3rem;
}

textarea {
  min-width: 27rem;
  max-width: 27rem;
  min-height: 8rem;
  max-height: 12rem;
}

button,
input.btn--submit {
  color: #ffffff;
  border: none;
  background-color: #aca7cb;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover,
input.btn--submit:hover {
  transform: translateY(-0.1rem) scale(0.98);
  letter-spacing: 0.15rem;
}
button:active,
input.btn--submit:active {
  transform: translate(1px, 1px) scale(0.98);
  letter-spacing: 0.15rem;
}

.btn--menu {
  position: absolute;
  top: 0%;
  left: 0;
  height: 100%;
  width: 6rem;
  background-color: transparent;
  font-size: 2rem;
}

.btn--submit {
  min-width: 13.5rem;
  width: 13.5rem;
  display: flex;
  justify-content: center;
  height: 5rem;
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 0.1s ease-in;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.item__buy--button {
  width: 8rem;
  height: 3.5rem;
  margin: 0.5rem;
  font-size: 2rem;
  font-weight: 400;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.featured__item {
  height: 15rem;
  width: 15rem;
  margin: 2.5rem;
}
@media (max-width: 500px) {
  .featured__item {
    height: 22rem;
    width: 22rem;
  }
}
@media (min-width: 800px) {
  .featured__item {
    height: 18rem;
    width: 18rem;
  }
}
@media (min-width: 1200px) {
  .featured__item {
    height: 20rem;
    width: 20rem;
  }
}
.featured__item:hover .featured__item-img img {
  opacity: 0.9;
  transition: all 0.25s ease-out;
}
.featured__item-img {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.featured__item-img img {
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.5;
  transition: all 0.1s ease-in;
}
@media (max-width: 500px) {
  .featured__item-img img {
    opacity: 0.9;
  }
}
.item-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80%;
  min-height: 40rem;
  max-height: 50rem;
  width: 75%;
  min-width: 50rem;
  max-width: 90rem;
  padding: 2rem;
  margin: 5rem 0rem;
}
@media (max-width: 500px) {
  .item-page {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    height: auto;
    width: 80vw;
    margin-top: 0;
    margin-bottom: 5rem;
    padding: 4rem 1rem;
  }
}
.item-page__heading--primary {
  width: 50%;
  max-width: 35rem;
  padding: 0.5rem 0;
}
@media (max-width: 500px) {
  .item-page__heading--primary {
    width: 100%;
    order: 1;
  }
}
.item-page__heading--secondary {
  padding: 0.5rem 0;
}
@media (max-width: 500px) {
  .item-page__heading--secondary {
    order: 2;
  }
}
@media (max-width: 500px) {
  .item-page__heading--tertiary {
    order: 3;
  }
}
.item-page__text {
  width: 50%;
  max-width: 32rem;
  padding: 0.5rem 0;
}
@media (max-width: 500px) {
  .item-page__text {
    width: 100%;
    order: 5;
  }
}
.item-page__price {
  padding: 0.5rem;
}
.item-page__gallery {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 28rem;
  height: 70%;
  max-height: 35rem;
}
@media (max-width: 500px) {
  .item-page__gallery {
    width: 100%;
    order: 4;
  }
}
.item-page__image {
  display: flex;
  align-items: flex-start;
  height: 100%;
  width: 32vw;
  min-width: 20rem;
  max-width: 33rem;
}
.item-page__image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin: 0.5rem;
}
.item-page__image img.inactive {
  display: none;
}
.item-page .gallery__navigation {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 110%;
}
.item-page .gallery__button {
  font-size: 3rem;
  color: #787586;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item__buy {
  position: absolute;
  bottom: -7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  min-width: 20rem;
  max-width: 33rem;
  margin: 0.5rem;
}
.item__buy.mobile {
  display: none;
}
@media (max-width: 500px) {
  .item__buy {
    flex-direction: column;
    position: static;
    width: 100%;
    order: 6;
  }
  .item__buy.mobile {
    display: flex;
  }
  .item__buy.default {
    display: none;
  }
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 3rem;
  background-color: #282828;
}
@media (max-width: 500px) {
  .header {
    position: relative;
    justify-content: center;
    padding: 0;
  }
}
.header__logo--container {
  position: relative;
  display: flex;
  align-items: center;
  height: 9rem;
}
@media (max-width: 500px) {
  .header__logo--container {
    transform: scale(0.8);
  }
}
.header__logo--container:hover .header__logo--text {
  font-size: 5.5rem;
  color: #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #353535;
}
.header__logo--text {
  position: absolute;
  left: 52%;
  width: 100%;
  transform: translate(-50%, 0%);
}
@media (max-width: 500px) {
  .header__logo {
    font-size: 2.375rem;
  }
}
@media (max-width: 374px) {
  .header__logo {
    font-size: 2rem;
  }
}
.header__logo-img {
  height: 9rem;
  margin: 1rem;
  padding: 0.5rem;
  object-fit: contain;
  opacity: 0.5;
  filter: invert(100%);
}
.header__navlinks {
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .header__navlinks {
    display: none;
  }
}
.header__navlink {
  margin-right: 3rem;
  transition: all 0.1s ease-in;
}

.caret-icon {
  display: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.caret-icon.open {
  pointer-events: none;
  transform: rotate(90deg);
}
@media (max-width: 500px) {
  .caret-icon {
    display: block;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #353535;
  width: 100%;
}
.footer__text {
  color: #ffffff;
  opacity: 0.5;
  padding: 1rem 1rem;
}

.menu {
  position: absolute;
  top: 9rem;
  display: none;
  width: 100vw;
  padding: 0rem 2rem 1rem 2rem;
  background-color: transparent;
  transform: translateX(-100vw);
  transition: transform 0.5s ease-in-out, background-color 0.4s linear 0.15s;
  z-index: 2;
}
@media (max-width: 500px) {
  .menu {
    display: flex;
    justify-content: center;
  }
}
.menu.open {
  transform: translateX(0);
  transition: transform 0.2s ease-in-out, background-color 0.1s ease-in-out 0.1s;
  background-color: #282828;
}
.menu__navlinks {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.menu__navlink {
  transition: all 0.1s ease-in;
}
.menu__navlink:not(:last-child) {
  margin-right: 3rem;
}

.socials {
  position: fixed;
  bottom: 4rem;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 10rem;
  width: 8rem;
  z-index: 2;
}
@media (max-width: 500px) {
  .socials {
    height: 10rem;
    width: 6rem;
  }
}

.social-icon {
  font-size: 3.75rem;
  color: #cccccc;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.social-icon:hover {
  font-size: 4rem;
}
@media (max-width: 500px) {
  .social-icon {
    font-size: 3.25rem;
  }
  .social-icon:hover {
    font-size: 3.5rem;
  }
}

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #353535;
}
.layout__main {
  position: absolute;
  top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 9rem);
  overflow-y: scroll;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
}

.featured {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: calc(100% - 9rem-4rem);
  padding: 3rem;
  overflow-y: scroll;
  margin-bottom: 5rem;
}

.bio {
  margin-top: calc(9rem + 5rem);
  padding: 0 9rem;
}
@media (max-width: 500px) {
  .bio {
    padding: 0 4rem;
  }
}
.bio__text--main {
  text-indent: 3rem;
  padding: 1rem 0;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.35rem;
  line-height: 1.3;
}
@media (max-width: 500px) {
  .bio__text--main {
    font-size: 1.6rem;
  }
}
.bio__text--secondary {
  letter-spacing: 0.35rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .bio__text--secondary {
    font-size: 1.2rem;
  }
}
.bio__text--link {
  letter-spacing: 0.225rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  opacity: 0.75;
  cursor: pointer;
}
@media (max-width: 500px) {
  .bio__text--link {
    font-size: 1.4rem;
  }
}
.bio__text--link:visited, .bio__text--link:link {
  color: #ffffff;
  opacity: 0.5;
}

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 9rem);
  margin-top: 9rem;
  padding: 3rem;
}
.shop__heading-primary {
  padding: 0.5rem 0;
  color: #ffffff;
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 1rem;
  text-align: center;
}

.contact {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .contact {
    margin-top: 5rem;
  }
}
.contact__form {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0;
}
.contact__form .form__element {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0rem;
}
.contact__form .form__error-message {
  position: absolute;
  bottom: 1.25rem;
  margin-left: 1.15rem;
  background-color: #ffffff;
  pointer-events: none;
  user-select: none;
}
.contact .btn--submit {
  margin-top: 0.5rem;
}

.thanks {
  margin-top: calc(9rem);
  height: calc(100vh - 9rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thanks__heading-primary {
  padding: 0.5rem 0;
  color: #ffffff;
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 1rem;
  text-align: center;
}
.thanks__text {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  text-align: center;
}
.thanks__smiley {
  margin-top: 5rem;
  color: #ffffff;
  font-size: 8rem;
  font-weight: 400;
  animation: spin 1.5s infinite 0.5s;
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

/*# sourceMappingURL=App.css.map */
