@use "../abstracts/" as a;

.divider {
  position: relative;
  display: inline-block;
  width: 85vw;
  max-width: 39rem;
  height: 5px;
  margin-top: 5rem;
  @include a.respond(mobile) {
    max-width: 22rem;
  }
  @include a.respond(laptop) {
    max-width: 75rem;
  }
  @include a.respond(laptop) {
    width: 93vw;
  }
  &__text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
  }
}
