@use "../abstracts/" as a;

.featured__item {
  display: flex;
  flex-direction: column;
  min-width: 12rem;
  min-height: 12rem;
  height: 33vw;
  width: 33vw;
  margin: 1.5rem;
  @include a.respond(mobile) {
    height: 70vw;
    width: 70vw;
  }
  @include a.respond(laptop) {
    height: 23vw;
    width: 23vw;
  }
  @include a.respond(desktop) {
    height: 19vw;
    width: 19vw;
  }
  &:hover {
    .featured__item-img {
      img {
        opacity: 0.75;
        transition: all 0.25s ease-out;
      }
    }
  }
  &-img {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    background-color: a.$color-medium-grey;

    img {
      aspect-ratio: 1/1;
      width: 100%;
      height: auto;
      object-fit: cover;
      opacity: 0.5;
      transition: all 0.1s ease-in;
    }
  }
  &--title {
    background-color: black;
  }
}
