@use "../abstracts/" as a;

.item-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80%;
  min-height: 40rem;
  width: 90%;
  max-width: 90rem;
  padding: 4rem 2rem;
  @include a.respond(mobile) {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    height: auto;
    width: 80vw;
    margin-bottom: 5rem;
    padding: 4rem 1rem;
  }
  //order
  //    title
  //    medium
  //     description
  //    photos
  //    buy
  //      -price
  //      -button
  &__heading--primary {
    width: 50%;
    max-width: 35rem;
    padding: 0.5rem 0;
    @include a.respond(mobile) {
      width: 100%;
      order: 1;
    }
  }
  &__heading--secondary {
    padding: 0.5rem 0;
    @include a.respond(mobile) {
      order: 2;
    }
  }
  &__heading--tertiary {
    @include a.respond(mobile) {
      order: 3;
    }
  }
  &__text {
    width: 50%;
    max-width: 32rem;
    padding: 0.5rem 0;
    @include a.respond(mobile) {
      width: 100%;
      order: 5;
    }
  }
  &__price {
    padding: 0.5rem;
  }
  &__gallery {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 28rem;
    height: 70%;
    max-height: 35rem;
    @include a.respond(mobile) {
      width: 100%;
      order: 4;
    }
  }
  &__image {
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: 32vw;
    min-width: 20rem;
    max-width: 33rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      margin: 0.5rem;
      &.inactive {
        display: none;
      }
    }
  }
  .gallery__navigation {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 110%;
  }
  .gallery__button {
    font-size: 3rem;
    color: a.$color-purple-grey;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
.item__buy {
  position: absolute;
  bottom: -7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  min-width: 20rem;
  max-width: 33rem;
  margin: 0.5rem;
  &.mobile {
    display: none;
  }
  @include a.respond(mobile) {
    flex-direction: column;
    position: static;
    width: 100%;
    order: 6;
    &.mobile {
      display: flex;
    }
    &.default {
      display: none;
    }
  }
}

// .item__buy--button {
//   border: none;
//   background-color: a.$color-white;
//   width: 8rem;
//   height: 4rem;
//   font-size: 1.8rem;
//   font-weight: 800;
//   color: a.$color-dark-grey;
// }
