@use "../abstracts/" as a;

.item-page {
  display: flex;
  max-width: 75rem;
  padding: 4rem 1rem;
  @include a.respond(mobile) {
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin-bottom: 5rem;
  }
  //order
  //    title
  //    medium
  //     description
  //    photos
  //    buy
  //      -price
  //      -button
  &__heading--primary {
    width: 100%;
    padding: 0.5rem;
    @include a.respond(mobile) {
      order: 1;
    }
  }
  &__heading--secondary {
    padding: 0.5rem;
    @include a.respond(mobile) {
      order: 2;
    }
  }
  &__heading--tertiary {
    @include a.respond(mobile) {
      order: 3;
    }
  }
  &__text {
    padding: 0.5rem;
    @include a.respond(mobile) {
      order: 5;
    }
  }
  &__price {
    padding: 0.5rem;
  }
  &__gallery {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    max-height: 35rem;
    padding: 1.5rem;
    @include a.respond(mobile) {
      order: 4;
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    height: 100%;
    width: auto;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      margin: 0.5rem;
      &.inactive {
        display: none;
      }
    }
  }
  .gallery__navigation {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 130%;
  }
  .gallery__button {
    font-size: 3rem;
    color: a.$color-white;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
.item__buy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  @include a.respond(mobile) {
    order: 6;
  }
}

// .item__buy--button {
//   border: none;
//   background-color: a.$color-white;
//   width: 8rem;
//   height: 4rem;
//   font-size: 1.8rem;
//   font-weight: 800;
//   color: a.$color-dark-grey;
// }
