@use "../abstracts/" as a;
.footer {
  position: absolute;
  bottom: 0;
  height: a.$height-footer;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #282828;
  width: 100%;
  &__text {
    color: a.$color-white;
    opacity: 0.5;
    padding: 1rem 1rem;
  }
}
