@use "../abstracts/" as a;
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: a.$height-header;
  width: 100%;
  min-width: 32rem;
  padding: 0.5rem 2rem;
  background-color: a.$color-super-dark-grey;
  @include a.respond(mobile) {
    justify-content: space-between;
    padding: 0;
  }
  &__logo {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: a.$height-header;
    width: 20rem;
    @include a.respond(mobile) {
      align-items: center;
    }
  }
  &__navlinks {
    display: flex;
    align-items: center;
    @include a.respond(mobile) {
      //hide navlinks on mobile, they are shown in menu
      display: none;
    }
  }
  &__link {
    opacity: 1;
    .hidden {
      opacity: 0;
    }
  }
  &__navlink {
    &:not(:last-child) {
      margin-right: 2rem;
    }
    transition: all 0.1s ease-in;
  }
}
.spacer {
  height: a.$height-header;
  width: a.$width-menu-toggle;
  display: none;
  @include a.respond(mobile) {
    display: block;
  }
}
.btn--menu {
  height: a.$height-header;
  width: a.$width-menu-toggle;
  display: none;
  &.open {
    height: 100%;
    pointer-events: none;
    .caret-icon {
      transform: rotate(90deg);
    }
  }
  @include a.respond(mobile) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.caret-icon {
  transition: all 0.1s ease-in-out;
  margin-bottom: 0.25rem;
}
