@use "../abstracts/" as a;
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: a.$height-header;
  width: 100%;
  padding: 3rem;
  background-color: a.$color-dark-grey;
  @include a.respond(mobile) {
    position: relative;
    justify-content: center;
    padding: 0;
  }
  &__logo--container {
    position: relative;
    display: flex;
    align-items: center;
    height: a.$height-header;
    @include a.respond(mobile) {
      transform: scale(0.8);
    }
    &:hover {
      .header__logo--text {
        font-size: 5.5rem;
        color: a.$color-white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: a.$color-dark-grey;
      }
    }
  }
  &__logo {
    &--text {
      position: absolute;
      left: 52%;
      width: 100%;
      transform: translate(-50%, 0%);
    }
    @include a.respond(mobile) {
      font-size: 2.375rem;
    }
    @include a.respond(smallmobile) {
      font-size: 2rem;
    }
    //logo background img
    &-img {
      height: a.$height-header;
      margin: 1rem;
      padding: 0.5rem;
      object-fit: contain;
      opacity: 0.5;
      filter: invert(100%);
    }
  }
  &__navlinks {
    display: flex;
    align-items: center;
    @include a.respond(mobile) {
      //hide navlinks on mobile, they are shown in menu
      display: none;
    }
  }
  &__navlink {
    margin-right: 3rem;
    transition: all 0.1s ease-in;
  }
}

.hamburger {
  display: none;
  @include a.respond(mobile) {
    display: flex;
  }
  position: absolute;
  top: 0;
  left: 0;
  height: a.$height-header;
  width: 6rem;
  transition: all 0.1s ease-in-out;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__icon {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.15s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    &:hover {
      transform: scale(1.1);
    }
  }
  &__line {
    width: 2rem;
    height: 0.15rem;
    background-color: a.$color-white;
    transition: all 0.15s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    margin: 0.25rem;

    &:nth-child(2) {
      opacity: 1;
      transition: height 0.08s ease-in-out, opacity 0.5s ease,
        width 0.1s ease-in;
    }
  }

  &.open {
    .hamburger__icon {
      position: relative;
      height: calc(a.$height-header/2);
      width: calc(a.$height-header/2);
      pointer-events: none;
    }

    .hamburger__line {
      position: absolute;
      width: 2.25rem;
      height: 0.15rem;
      top: 17px;

      &:nth-child(1) {
        transform: rotate(135deg) translate(0);
      }
      &:nth-child(3) {
        transform: rotate(-135deg) translate(0);
      }
      &:nth-child(2) {
        width: 0px;
        height: 0.1rem;
        opacity: 0;
      }
    }
  }
}
