@use "../abstracts/" as a;

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: a.$color-dark-grey-primary;

  &__main {
  }
}
