@use "../abstracts/" as a;

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: a.$color-dark-grey;

  &__main {
    position: absolute;
    top: a.$height-header;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - a.$height-header);
    overflow-y: scroll;
  }
}
