@use "../abstracts/" as a;

.menu {
  position: absolute;
  top: a.$height-header;
  display: none;
  width: 100vw;
  padding: 0rem 2rem 0rem 2rem;
  background-color: a.$color-dark-grey;
  transform: translateX(-100vw);
  transition: transform 0.5s ease;
  z-index: 2;
  @include a.respond(mobile) {
    display: flex;
    justify-content: center;
  }
  &.open {
    transform: translateX(0);
    transition: transform 0.3s ease;
  }
  &__navlinks {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  &__navlink {
    transition: all 0.1s ease-in;
    &:first-child {
      margin-right: 3rem;
    }
  }
}
