@use "../abstracts/" as a;

.menu {
  position: absolute;
  top: 0;
  right: 0;
  height: a.$height-header;
  display: none;
  width: calc(100vw - #{a.$width-menu-toggle});
  background-color: transparent;
  transform: translateX(-120vw);
  transition: transform 0.2s linear, background-color 0.4s linear 0.15s;
  @include a.respond(mobile) {
    display: flex;
    justify-content: flex-end;
    z-index: 5;
  }
  &.open {
    background-color: a.$color-super-dark-grey;
    transform: translateX(0);
    transition: transform 0.2s ease-in-out 0.1s;
  }
  &__navlinks {
    display: flex;
    align-items: center;

    padding: 3rem;
  }
  &__navlink {
    transition: all 0.1s ease-in;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
