@use "../abstracts/" as a;

.socials {
  position: fixed;
  bottom: a.$height-footer;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 10rem;
  width: 8rem;
  z-index: 2;
  @include a.respond(mobile) {
    height: 10rem;
    width: 6rem;
  }
}
.social-icon {
  font-size: 3.75rem;
  color: a.$color-medium-grey;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
  &:hover {
    font-size: 4rem;
  }
  @include a.respond(mobile) {
    font-size: 3.25rem;
    &:hover {
      font-size: 3.5rem;
    }
  }
}
